/* #root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
} */

@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #424b5c;
  overflow: hidden;
  z-index: -1;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
  left: 88%;
  width: 114px;
  height: 114px;
  bottom: -114px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 50%;
  width: 164px;
  height: 164px;
  bottom: -164px;
  animation-delay: 4s;
}
.background li:nth-child(2) {
  left: 67%;
  width: 120px;
  height: 120px;
  bottom: -120px;
  animation-delay: 6s;
}
.background li:nth-child(3) {
  left: 23%;
  width: 198px;
  height: 198px;
  bottom: -198px;
  animation-delay: 10s;
}
.background li:nth-child(4) {
  left: 48%;
  width: 138px;
  height: 138px;
  bottom: -138px;
  animation-delay: 7s;
}
.background li:nth-child(5) {
  left: 0%;
  width: 158px;
  height: 158px;
  bottom: -158px;
  animation-delay: 9s;
}
.background li:nth-child(6) {
  left: 38%;
  width: 154px;
  height: 154px;
  bottom: -154px;
  animation-delay: 24s;
}
.background li:nth-child(7) {
  left: 33%;
  width: 172px;
  height: 172px;
  bottom: -172px;
  animation-delay: 8s;
}
.background li:nth-child(8) {
  left: 76%;
  width: 197px;
  height: 197px;
  bottom: -197px;
  animation-delay: 1s;
}
.background li:nth-child(9) {
  left: 57%;
  width: 140px;
  height: 140px;
  bottom: -140px;
  animation-delay: 11s;
}